<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Notable Passengers Aboard the Lusitania</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="static/css" href="style.css">
  <script src="http://d3js.org/d3.v3.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/">Team 1</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Graphs <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/">Home</a></li>
              <li><a href="age">Age</a></li>
              <li><a href="gender">Gender</a></li>
              <li><a href="passenger">Passenger vs Crew</a></li>
              <li><a href="info">More info</a></li>
            </ul>
          </li>
        </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <div class="container">
    <div class="jumbotron">
      <h1>More Information about the Lusitania</h1>
      <p><ul>
      <img src="https://img2.thejournal.ie/inline/2080650/original/?width=630&version=2080650" alt="" style="width:80%">
    </div>
  </div>

  <div class="container">
    <h3 class="text-center">Notable Passengers Lost at Sea</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="https://image.slidesharecdn.com/lusitaniapubliclecture-150504195122-conversion-gate01/95/lusitania-public-lecture-2-638.jpg?cb=1430860346" alt="...">
          <div class="caption">
            <h3>Alfred Gwynne Vanderbilt</h3>
            <p>Alfred Gwynne Vanderbilt (1877 – 1915), 37, from New York City, New York, United States, was a millionaire sportsman who was traveling on Lusitania with his valet Ronald Denyer to a meeting of the International Horse Breeders’ Association.  When Lusitania was torpedoed, Vanderbilt and Denyer assisted many others, especially children, to safety.  Vanderbilt made no attempt to save himself, and was last seen giving his lifebelt to second cabin passenger Alice Middleton.  Vanderbilt was lost in the sinking and his body was never recovered.</p>
			<p><em>(source: <a href="http://www.rmslusitania.info/people/saloon/alfred-vanderbilt/">http://www.rmslusitania.info/people/saloon/alfred-vanderbilt/</a>; December 4, 2018).</em></p></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://www.rmslusitania.info/images/saloon/frohman_charles.jpeg" alt="...">
          <div class="caption">
            <h3>Charles Frohman</h3>
            <p>   <p>Charles Frohman, 58, was an American theater manager credited for creating the Broadway star system. Among the most notable plays that he produced was James Barrie’s Peter Pan. Frohman was traveling aboard Lusitania to see the European playmarkets. He was traveling with his valet, William Stainton, and playwright Justus Miles Forman. Frohman was on deck with George Vernon and Captain Alick Scott when the German submarine U-20 torpedoed Lusitania on 7 May 1915. Rita Jolivet soon ran up from below decks to join them. They stood together as the ship sank. Only Rita survived the disaster. Frohman’s body was recovered, #24, and was buried in Queens, New York.</p>
			<p><em>(source: <a href="http://www.rmslusitania.info/people/saloon/charles-frohman//">http://www.rmslusitania.info/people/saloon/charles-frohman//</a>; December 4, 2018).</em></p></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://www.rmslusitania.info/images/saloon/lane_hp2.gif" alt="...">
          <div class="caption">
            <h3>Sir Hugh Percy Lane</h3>
            <p>   <p>Sir Hugh Lane (1875 – 1915), 39, was an art collector and philanthropist who established the first known public gallery of modern art in the world, Dublin’s Municipal Gallery of Modern Art. He made significant contributions to the visual arts in Ireland and South Africa. Aboard Lusitania he was traveling with Charles and Frances Fowles. He was also rumored to be bringing with him paintings by Monet, Rembrandt, Rubens, and Titian. He died when the RMS Lusitania was torpedoed and sunk on 7 May 1915 by the German submarine U-20.</p>
            <p><em>(source: <a href="http://www.rmslusitania.info/people/saloon/hugh-lane/">http://www.rmslusitania.info/people/saloon/hugh-lane/</a>; December 4, 2018).</em></p></p>
          </div>
        </div>
      </div>


 	<div class="col-md-12">
      	<h3>Conspiracy Theory and World War 1</h3>
      		<img src="https://static01.nyt.com/images/2016/05/05/blogs/05iht-oldmay05-lusitania/05iht-oldmay05-lusitania-blog480.png" alt="International Herald Tribune" style="width:70%">
  	</div>

    <div class="col-md-12">
        <h3>Did the English let The Lusitania Intentionally Sink?</h3>
         <p>   <p>There has been speculation that the Lusitania was intentionally left unguarded as to draw the United States into England's conflict with Germany. Theorists cite letters from Winston Churchill as possible evidence, along with Germany's knowledge of the secret munitions on board. </p>
			<img src="https://images.mapsofworld.com/around-the-world/ShipSank_03.jpg" alt="...">
			<img src="https://violdam6.files.wordpress.com/2013/09/lusitania-warning.jpg" alt="...">
      </div>
     </div>
    </div>
   </div>
   </div>
  </div>
  <svg class="chart"></svg>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
</body>

</html>
